// 自定义样式
/* Card
--------------------------*/
.el-card {
  border-radius: 16px;
  border: none;
}

/* Input
--------------------------*/
.el-input__inner {
  border-radius: 6px;
  border: 1px solid #d6d6d6;
}

/* Pagination
--------------------------*/
// .el-pagination.is-background .el-pager li {
//   border-radius: 8px;
// }

// .el-pagination.is-background .btn-prev{
//     border-radius: 8px;
// }

// .el-pagination .el-select .el-input .el-input__inner {
//     border-radius: 8px;
// }

// /* Table
// --------------------------*/
// .el-table thead {
//     color:#000000;
// }

// .el-table td {
//     border-bottom: none;
// }

// /* Tabs
// --------------------------*/
// .el-tabs__item{
//     color: #7d7d7d;
// }

/* Dialog
--------------------------*/
.el-dialog {
  border-radius: 16px;
}

.el-autocomplete-suggestion {
  border-radius: 8px;
}

/* Select
--------------------------*/
.el-select-dropdown {
  border-radius: 8px;
}

/* Radio
--------------------------*/
.el-radio-button:first-child .el-radio-button__inner {
  border-radius: 20px 0 0 20px;
}

.el-radio-button:last-child .el-radio-button__inner {
  border-radius: 0 20px 20px 0;
}

.el-table .chartHeader th {
  background-color: #f5f5f5;
}

// 课表
.athletic-btn-popover {
  width: 86px !important;
  min-width: 86px !important;
}
.add-class-btn-popover {
  width: 110px !important;
  min-width: 110px !important;
}
.hover-plan-detail-popover {
  max-width: 320px !important;
  width: 320px !important;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 16px;
}
.data-line-tabs {
  .el-tabs__nav-scroll {
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

.avatar-upload .el-upload {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-hour .el-scrollbar:nth-of-type(1) {
  display: none;
}

.class-dialog {
  margin: 1vh auto !important;
}

.view-class-card-dialog.el-dialog {
  margin-left: var(--dialog-margin-left, 320px) !important;
}

.sth {
  width: 24px;
}